<nav class="navbar navbar-expand-lg navbar-light bg-white border-0">
  <div class="container-fluid">
      <!-- Logo-->
      <a class="navbar-brand fw-bold fs-3 m-0 p-0" href="/">
        <img src="/images/super logo 2.png" style="width: 80px;" alt="">
      </a>
      <!-- / Logo-->

      <!-- Navbar Toggler-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <!-- /Navbar Toggler-->

      <!-- Main Navigation-->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- Menu Items -->
              <% category.forEach((data) => { %>
                  <li class="nav-item">
                      <a class="nav-link" href="/products_list?_id=<%= data._id %>"><%= data.name %></a>
                  </li>
              <% }); %>
          </ul>

          <!-- Navbar Icons-->
          <ul class="navbar-nav">
              <!-- Navbar Search-->
              <!-- <li class="nav-item">
                  <span class="nav-link text-body search-trigger cursor-pointer">Search</span>
              </li> -->
              <!-- /Navbar Search-->

              <!-- Navbar Login-->
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuMobile" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Menu
                  </a>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuMobile">
                    <a class="dropdown-item" href="/MyAccount">
                        <i data-feather="user"></i> 
                        <span class="menu-text">Profile</span>
                    </a>
                    <a class="dropdown-item" href="/cart">
                        <i data-feather="shopping-cart"></i> 
                        <span class="menu-text">Cart</span>
                    </a>
                    <a class="dropdown-item" href="/login">
                        <i data-feather="log-in"></i> 
                        <span class="menu-text">Login</span>
                    </a>
                </div>
                
                
              </li>
              <!-- /Navbar Login-->
          </ul>
          <!-- /Navbar Icons-->
      </div>
      <!-- /Main Navigation -->
  </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

<script>
  feather.replace();
</script>
